h1{
	background-color: red;
}
.iconSidenav{
	display: block !important;
	height: auto !important;
	width: auto !important;
	line-height: initial !important;
	margin: 0 !important;
	padding: 5px !important;
	border-radius: 50%;
    border: 1px solid white;
}
#recipes  .iconSidenav i {
	height: auto !important;
	width: auto !important;
	line-height: initial !important;
	color: #fff !important;
}
.imgProd{
	max-width: 100% !important;
	width: auto !important;
	margin: 0 auto !important;
}
#recipes p{
	margin: 0;
}
